PORT=5001
MONGODB_CONNECTIONSTRING=mongodb+srv://longadmin:longadmin@cluster0.h6bbcyg.mongodb.net/chat_realtime_db?appName=Cluster0
# MONGODB_CONNECTIONSTRING=mongodb://localhost:27017/chat_realtime_db
CLIENT_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=a1f0f7a73deb5d0d155abdbbfa8ae014502c25e14a42488c96487b77a8dcedc44278337fa797d543396cbeaee442332f20b907d734abe277ae3
CLOUDINARY_CLOUD_NAME=dedlonfik
CLOUDINARY_API_KEY=891676572968424
CLOUDINARY_API_SECRET=uZM5v39pE3ocfalmnb0-edPXlo8
